<main class="py-12 lg:py-20">
    <article class="max-w-5xl mx-auto px-3">
        <header class="mx-auto max-w-3xl text-center content">
            <h1 class="mt-2 mb-8 text-3xl text-center leading-8 {{ parent:font_heading }} font-extrabold text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10">
                {{ title }}
            </h1>
            <p class="text-base text-center leading-6 text-gray-500 dark:text-gray-400 {{ parent:font_body }} font-bold tracking-wide">{{ excerpt }}</p>
            <div class="my-12 flex items-center justify-center">
                {{ if author }}
                <img src="{{ author:avatar ?? author:email | gravatar:160 }}" class="h-20 w-20 my-0 rounded-full mr-4">
                {{ /if }}
                <div class="text-left">
                    {{ if author }}
                    <div>
                        <a class="font-bold no-underline" href="/authors/{{ author:handle }}">
                            <span class="bg-clip-text text-transparent bg-gradient-to-r from-hot-pink to-purple-500">
                                {{ author:name }}
                            </span>
                        </a>
                    </div>
                    {{ /if }}
                    <div class="flex text-sm leading-5 {{ font_body }} text-gray-500 dark:text-gray-400">
                        <time datetime="{{ date format='Y-m-d' }}">{{ date }}</time>
                    </div>
                </div>
            </div>
        </header>
        <img class="rounded-xl" src="{{ background }}" alt="">
        <section class="max-w-3xl prose dark:prose-dark {{ parent:font_body }} mx-auto py-6 lg:py-12">
            {{ bard }}
        </section>
    </article>
</main>
